<%= link_to("<< Currencies", {:action => 'index'}, :class => 'back-link') %>

<div class="currencies new">
  <h3>Create Currency</h3>

  <%= form_for(:currency, :url => {:action => 'create'}) do |f| %>

    <table summary="Currency form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>ISO</th>
        <td><%= f.text_field(:iso) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Currency") %>
    </div>

  <% end %>
</div>