<%= link_to("<< Exchange Rates", {:action => 'index'}, :class => 'back-link') %>

<div class="exchangerates new">
  <h3>Create Exchange Rate</h3>

  <%= form_for(:exchangerate, :url => {:action => 'create'}, html: {method: 'get'}) do |f| %>

    <table summary="Exchangerate form fields">
      <tr>
        <th>Van Currency</th>
        <td><%= f.text_field(:from_currency_id) %></td>
      </tr>
      <tr>
        <th>Naar Currency</th>
        <td><%= f.text_field(:to_currency_id) %></td>
      </tr>
      <tr>
        <th>Rate</th>
        <td><%= f.text_field(:rate) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Exchange Rate") %>
    </div>
  <% end %>
</div>