<% @page_title = "Exchange Rates" %>

<div class="exchangerates index">
  <h2>Exchange Rates</h2>

  <%= link_to("Add New Exchange Rate", {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="ExchangeRate list">
    <tr class="header">
      <th>Van Currency</th>
      <th>Naar Currency</th>
      <th>Rate</th>
      <th>Actions</th>
    </tr>
    <% @exchangerates.each do |exchangerate| %>
    <tr>
      <td><%= exchangerate.from_currency_id %></td>
      <td><%= exchangerate.to_currency_id %></td>
      <td><%= exchangerate.rate %></td>
      <td class="actions">
      <%= link_to("History", {:action => 'show', :id => exchangerate.id}, :class => 'action show') %>
     </td>
    </tr>
    <% end %>
  </table>
</div>

